@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 20px 0px;
    color:rgb(87, 168, 151);
}

h2{
    margin: 20px 0px;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

header {
    text-shadow: 1px 1px 10px rgb(60, 119, 228);
}

nav {
    background-color: rgb(243, 200, 200);
    border-bottom: 1px solid black;
    padding: 10px 0px 10px 10px;
}

table {
    margin: 20px 0px;
}

main {
    margin: 24px, 0;
    padding: 24px;
}

footer {
    background-color: aquamarine;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 0px;
    border-top: 1px solid black;
    margin-top: auto;
}

img {
    height: 200px;
    border-radius: 50%;
}

a:hover {
    color: plum;
}

a {
    color:white;
    text-decoration: none;
}

p a {
    color: green;
}

.recipe-library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.recipe-library-items {
    margin-right:150px;
    margin-bottom: 50px;
    padding: 25px 25px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 2px 2px 1px 2px rgb(243, 200, 200);
    text-align: center;
    transition: all 1s;
}

.recipe-library-items:hover{
    /* margin-right: 125px;
    margin-bottom: 35px; */
    box-shadow: inset 2px 2px 1px 2px rgb(243, 200, 200);
}

.recipe-title{
    width: 460px;
    text-align: center;
    position: relative;
    left: 39%
}

ol {
    margin-left: 20%;
    text-align: left;
}

tr:nth-child(even){
    background-color: rgb(231, 227, 227);
}

table{
    margin-left: auto;
    margin-right: auto;
}

li:hover{
    color: rgb(255, 66, 227);
}
